html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 10vmin;
}

/* .Navbar {
  background: red;
  ;
} */

div.navbar-collapse.collapse {
  text-align: right;
}

/* ==================== */

.home-page {
  background: linear-gradient( 45deg, rgba(171, 152, 122, 0.8), rgba(0, 0, 128, 0.4)), url(./assets//nb3.gif);
  /* background: url('./assets/nb3.gif'); */
  background-size: cover;
  background-position: center center;
  color: white;
}

.home-hero, .home-hero {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

/* .gate-hero img, .home-hero img {
  margin: 20px auto;
  max-width: 60%;
} */

.home-greet {
  vertical-align: baseline;
  padding-top: 14rem;
  padding-bottom: 19rem;
  /* margin: 100%;
  position: fixed; */
}

.home-greet h1 {
  font-size: 3rem;
  font-family: "adelle-sans", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

/* .container {
  background-size: 1.25em;
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) center;
  padding-right: 1.25em;
  text-overflow: ellipsis;
  padding: 0 40px;
  margin: 0;
} */

.contact-page {
  padding-top: 25px;
}