html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 10vmin;
}

div.navbar-collapse.collapse {
  text-align: right;
}

/* ====================Home PG ================================= */

.home-page {
  background: linear-gradient( 45deg, rgba(171, 152, 122, 0.8), rgba(0, 0, 128, 0.4)), url(./assets//nb3.gif);
  background-size: cover;
  background-position: center center;
  color: white;
}

.home-hero, .home-hero {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.main_text {
  width: 100%;
  color: #fff;
  font-weight: bold;
  min-height: 80vh;
  font-size: 30px;
}

.home-greet h1 {
  font-size: 3rem;
  font-family: "adelle-sans", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

.contact-page {
  padding-top: 25px;
}

/* ====================Map================ */

#mapLogo {
  width: 20px;
  height: 20px;
}

.rounded-pill {
  background-color: #2DB0A7;
  color: #fff;
  padding-top: 10px;
}

.Randinput {
  padding-bottom: 20px;
  align-items: center;
}

button {
  background-color: #F06EAF;
}

.jumbotron {
  background-color: inherit;
  padding-top: 60%;
}

.lead {
  font-weight: bold;
  font-size: 30px;
}

/*==========================Contact =================================== */

.contact-page {
  padding-top: 30%;
}

/* =======================================Midia Quries================== */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .lead {
    font-size: 20px;
  }
  .jumbotron {
    background-color: inherit;
  }
  .contact-page {
    padding-top: 30%;
    padding-left: 5px;
    padding-right: 5px;
  }
}